*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.header{
    /* height: 100px; */
    background-color: rgb(189, 233, 236);
    padding: 22px 0;
    font-family: sans-serif;
    
}

.header .container{
    width: 1200px;
    /* height: 100%; */
    /* background-color: blueviolet; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

.logo{
    font-family: sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
   color: black;
}

.menu{
    list-style-type: none;
    display: flex;
    /* background-color: black; */
}
.menu li a{
    padding: 8px 16px;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
    transition: 0.6s all ease-in-out;
}

.menu li a:hover{
    color: blue;
}
/* .............BANNER SECTION STRAT HERE.... */
 .banner{

 }
 .banner-container{
    margin: auto;
    width: 100%;
    height: 500px;
    background-image: url(banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 }
 .banner-container h1{
    font-size: 50px;
    font-weight: 300;
    font-family: sans-serif;
    color: rgb(226, 9, 9);
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 40%;
    bottom: 40%;
   
 }
 /* .........courses section strat here.............. */
.heading-section{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;

}
.card-container{
    display: flex;
     gap: 25px;
    flex-wrap: wrap;
    padding-left: 43px;
   
    
}
 .card{
    width: 400px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color:white;
    /* padding: 300px; */
    
 }
  .image{
    width:100%;
    padding: 10px;
    /* margin-left: 20px; */
    border-radius: 8px;

 }
 .card .courses-name h3{
    padding-left: 8px;
    font-size: 30px;
    font-family: sans-serif;
 }
 .card-description{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #6C6C6C;
    margin:20px 0px;
    padding-left: 8px;
 }
 .courses-fee-button{
    font-size: 20px;
    font-family: sans-serif;
    color:black;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
 }
 .courses-fee-button a{
    color: rgb(206, 15, 133);padding: 8px;
    /* border: 1px solid green; */
    border-radius: 6px;
    transition: 0.4s ease-in-out;
  }
 
  .client-reviwe-header{
    display: flex;
    justify-content: center;
    margin: 160px 0 50px 0;
}
.client-reviwe-header h2{
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
}
.client-reviwe-header span{
    color:coral;
}
.reviwe-cards{
    margin-bottom: 140px;
    display: flex;
    gap: 40px;
    text-align: center;
}
.reviwe-card{
    padding: 40px 35px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}
.reviwe-card img{
    margin-bottom: 30px;
}
 .client-about{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #6C6C6C;
}
.reviwe-card .retings{
    margin-top: 15px;
    color: #E76F51;
}
 .client-name{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    color:coral;
}
 .occupation{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
}
.soket-section{
    background-color: black;

}
.soket-section p{
    font-size: 16px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding: 5px;

}